<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form >
            <h1 class="h3 mb-3 font-weight-normal">Please Join with Us</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" style="margin-top:5px;" placeholder="Password" required="">
             <select class="form-control" style="margin-top: 5px;">
                 <option>Management</option>
                 <option>Developer</option>
                 <option>Intern</option>
             </select>
            <button class="btn btn-lg btn-success btn-block" style="margin-top:5px;" type="submit">Sign in</button>
           
        </form> 
    </div>
    <div class="col-md-4">
        
    </div>
</div>

